html, body { 

 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 120%;
  height: 120%;
  overflow: hidden;
 

}


.freak {
   width: 85%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10000;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
  
}
    
.enter {
  
   
 
    position: absolute;
    color: white;
    z-index: 100;
    font-family: futura;
    font-size: 40px;
    font: bold;
    bottom:30px;
    right: 190px;

  
}

.back {
  
   
 
    position: absolute;
    
    z-index: 100;
    font-family: futura;
    font-size: 20px;
    font: bold;
    top:20px;
    left: 20px;

  
}

a {
  color: #F6FF00;
  text-decoration: none;
}

.hilary {
  
  width: 15%;
  height: 45%;
  z-index: 1000;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 60%;
  z-index: 10000;
  margin-right: -50%;
  transform: translate(-50%, -50%)  
  
  
  
}


.hilary:hover {
  
  opacity: 0;
}




.trump {
  
  width: 15%;
  height: 45%;
  z-index: 1000;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: 10000;
  margin-right: -50%;
  transform: translate(-50%, -50%)  
  
  
}

.trump:hover {
  
  opacity: 0;
}

.card {
  position: absolute;
  width: 40%;
  height: 40%;
  top: 15%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)  
  
}

.card2 {
  position: absolute;
  width: 36%;
  height: 40%;
  bottom: -25%;
  left: 50%;
  transform: translate(-50%, -50%)  
  
}

.stage {
  
  z-index: -1000;
  position: absolute;
  margin-top: 415px;
  
}

.trump1 {
  position: absolute;
  width: 10%;
  height: 25%;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)  
  
}

.trump2 {
  position: absolute;
  width: 20%;
  height: 30%;
  top: 20%;
  left: 35%;
  margin-right: -50%;
  transform: translate(-50%, -50%)  
  
}

.trump3 {
  position: absolute;
  width: 12%;
  height: 27%;
  top: 20%;
  left: 75%;
  margin-right: -50%;
  transform: translate(-50%, -50%)  
  
}

.trump4 {
  position: absolute;
  width: 12%;
  height: 30%;
  top: 50%;
  left: 25%;
  margin-right: -50%;
  transform: translate(-50%, -50%)  
  
}

.trump5 {
  position: absolute;
  width: 12%;
  height: 30%;
  top: 50%;
  left: 45%;
  margin-right: -50%;
  transform: translate(-50%, -50%)  
  
}

.trump6 {
  position: absolute;
  width: 12%;
  height: 30%;
  top: 47%;
  left: 65%;
  margin-right: -50%;
  transform: translate(-50%, -50%)  
  
}

.trump7 {
  position: absolute;
  width: 12%;
  height: 30%;
  top: 47%;
  left: 65%;
  margin-right: -50%;
  transform: translate(-50%, -50%)  
  
}


.tweetface {
  position: absolute;
  width: 12%;
  height: 30%;
  top: 70%;
  left: 60%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
  
}

.tweetface2 {
  position: absolute;
  width: 12%;
  height: 30%;
  top: 70%;
  left: 40%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
  
}

.redbuzzer {
  
width: 9%;
bottom: 12%;
left: 25%;
position: absolute;

}

.redbuzzer:hover {
  
  width: 11%;
  left: 23%;
 
  
}

.bluebuzzer:hover {
  
  width: 11%;
  right: 21%;
 
  
}

.bluebuzzer {
  
width: 9%;
bottom: 12%;
right: 23%;
position: absolute;
  
}



#typed {
  
  
  font-family: helvetica;
  font-stretch: extra-expanded; 
  font-size: 24px;
  text-align: left;
  margin-top: 65px;
  position: absolute;
  margin-left: 28%;
  letter-spacing: 1.5px;
 
  
 
  
  
}

#typed-strings {
  
  opacity: 0 ;
}

.score {
  
  font-family: helvetica;
  font-size: 100px;
  margin-left: 60%;
  
  
}

.answer {
  
  font-family: helvetica;
  font-size: 250px;
  color: yellow;
  text-align: left;
  margin-left: 12px;
  transform: rotate(30);
  
}